.signup .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.signup .left {
    text-align: center;
}

.signup img {
    width:450px;
}

.signup img:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.signup .right{
    color: white;
}
.signup .right p {
    margin: 2rem 0;
}
.btn-group .btn{
    padding: 10px 20px;
    font-size: 18px;
}
@media screen and (max-width:940px) {
    .signup .container {
        grid-template-columns: 1fr;
    }
    .signup img{
        width: 200px;
    }
}